@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.icon {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    border-radius: .2rem;
}
.icon:hover {
     background: rgba(255, 255, 255, .3);
 }

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

a {
    color: #ccdddd;
    text-decoration: none;
}
